.report {
  background:
  linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),
  url('./images/solar_system.jpg') no-repeat center;
  display: flex;
  flex-direction:column;
  height: 100vh;
  width: 100vw;
}

header {
  color: lightgrey;
  line-height: 0.5;
  padding: 2rem 1rem;

    h1 {
      font-size: 2.5rem;
      text-align: center;
    }

    span {
      display: block;
      font-size: 1.2rem;
      text-align: center;
    }
}

.report-form {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  padding: 0 2rem;
  width: 90%;

  .select-report {
    border-bottom: 1px solid #fff;
    display: block;
    height: 2rem;
    padding: 0;
    width: 100%;

    select {
      background-color: transparent;
      border: none;
      color: #ed4343;
      font-size: 1rem;
      margin-bottom: 1.5rem;
      width: 100%;
    }
  }

  .action-box {
    font-size: 1rem;
    height: 10rem;
    margin-top:1.5rem;
    padding: .5rem;
  }


  // .report-button-wrapper {
  //   background-color: transparent;
  //   display: flex;
  //   flex: 1 1 0%;
  //   height: 10rem;
  //   justify-content: center;
  //   padding: 2rem 4rem;
  //   width: 100%;
  //
  //   .report-button {
  //       background-color: transparent;
  //       border: none;
  //       color: lightgrey;
  //       font-size: 2rem;
  //       font-weight: 100;
  //       padding: 2rem 2rem;
  //       text-align: center;
  //       width: 100%;
  //
  //       &:hover {
  //         cursor: pointer;
  //       }
  //   }
  // }
}
