.encounters {
  font-family: 'Roboto', sans-serif;


 h1 {
  color: black;
  font-size: 18px;
  font-weight: 100;
  text-align: center;
 }

  span {
    display: block;
    font-size: 1rem;
  }

}

.list-encounters {
  list-style: none;
}



.footer {
  background-color: black;

  h2 {

  color: white;
 }

}
