.encounters {
  display:flex;
  flex-direction: column;
  height: 100vh;
  position: relative;
  width: 100vw;
}

.encounters-header {
  background-color: #fff;
  color: #000;
  font-size: 2rem;
  padding: 1rem;
  position: 1rem;
  text-align: center;
  width: 100vw;

  span {
    display: block;
    font-size: 1.2rem;
   }
}

.list-encounters {
  font-size:18px;
  list-style: none;
  overflow: scroll;
  padding: 0 1rem 2rem;

   li {
    margin-bottom: 1rem;
   }
}

.encounters-footer {
  background:
  linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),
  url('./images/solar_system.jpg') no-repeat center;
  bottom: 0px;
  display: flex;
  flex-direction: column;
  height: 8rem;
  justify-content: center;
  padding: 0 1rem;
  position: fixed;
  text-align: center;
  width: 100%;

  .encounters-button {
    border: none;
    background: #000;
    color: #fff;
    font-size: 2rem;
    text-align: center;
    width: 100%;
  }
}
