.encounters {
  display:flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  position: relative;
  width: 100vw;
}

.encounters-header {
  background: #fff;
  position: fixed;
  text-align: center;
  width: 100vw;

   h1 {
    color: #000;
    font-size: 2rem;
  }

  span {
    color: #000;
    display: block;
    font-size: 1.5rem;
    padding-bottom: 1rem;
   }

}

.list-encounters {
  font-size:18px;
  list-style: none;
  line-height: 1.5;
  overflow: scroll;
  padding: 0 1rem 2rem;

  .list-encounters li {
    margin-bottom: 1rem;
   }
}

.encounters-footer {
  background: black;
  bottom: 0px;
  display: flex;
  height: 200px;
  padding: 0 1rem;
  position: fixed;
  text-align: center;
  width: 100%;
  z-index: 1;

  .encounters-button {
    border: none;
    background: black;
    color: white;
    font-size: 2rem;
    text-align: center;
    width: 100%;
  }
}
