.welcome {
  align-content: center;
  align-items: center;
  background:
  url('./images/planet.jpg') no-repeat center;
  color: white;
  display: flex;
  flex-direction: column;
  font-family: 'Robotic', sans-serif;
  font-weight: lighter;
  height: 100vh;
  width: 100vw;

    h1{
      padding-top: 3rem;
      text-transform: uppercase;
    }

    h2 {
      display: block;
      font-weight: 100;
      text-align: center;
  }
}

@keyframes pulse {
  0% {
    background: transparentize(lightgrey, .2);;
    box-shadow: 0 0 0 0 lightgrey;
  }

  20% {
    box-shadow: 0 0 0 55px rgba(0,0,0,.1), 0 0 0 45px rgba(0,0,0,.1), 0 0 0 35px rgba(0,0,0,.1), 0 0 0 25px rgba(0,0,0,.1);
  }
}

.enter {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 60%;
  width: 60%;
}

.enter-button {
  animation: pulse 3s infinite;
  border-radius: 50%;
  border:none;
  height: 75px;
  opacity: 0.2;
  width: 75px;

  &:hover {
    cursor: pointer;
  }
}
