
[ui-view].ng-enter, [ui-view].ng-leave {
  transition: all 1s ease-in-out;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}


[ui-view].ng-enter {

  .welcome &{
  transform: translate3d(0,-100%,0);
  opacity: 0

  }

  .check-in & {
   transform: translate3d(0,-100%,0);
    opacity: 0;
  }

  .encounters & {
    transform: translate3d(0,-100%,0);
    opacity: 0;
  }

  .report & {
    transform: translate3d(0,-100%,0);
    opacity: 0;
  }

}

[ui-view].ng-enter-active {

  .welcome &{
    transform: translate3d(0,-100%,0);
    opacity: 1;

  }

  .check-in & {
    transform: translate3d(0,-100%,0);
    opacity: 1;
  }

  .encounters & {
    transform: translate3d(0,-100%,0);
    opacity: 1;
  }

  .report & {
    transform: translate3d(0,-100%,0);
    opacity: 1;
  }

}


 [ui-view].ng-leave {
   .welcome &{
     transform: translate3d(0,-100%,0);
     opacity: 0

   }

   .check-in & {
     transform: translate3d(0,-100%,0);
    opacity: 0;
   }

   .encounters & {
     transform: translate3d(0,-100%,0);
    opacity: 0;
   }

   .report & {
     transform: translate3d(0,-100%,0);
    opacity: 0;
   }

 }

 [ui-vew].ng-leave-active {
   .welcome &{
     transform: translate3d(0,-100%,0);
     opacity: 1;

   }

   .check-in & {
     transform: translate3d(0,-100%,0);
      opacity: 1;
   }

   .encounters & {
     transform: translate3d(0,-100%,0);
    opacity: 1;
   }

   .report & {
     transform: translate3d(0,-100%,0);
      opacity: 1;
   }

 }

//  ui-view-container {
// position: relative;
// height: 65px;
// }
// 
// [ui-view].ng-enter, [ui-view].ng-leave {
// position: absolute;
// left: 0;
// right: 0;
// -webkit-transition:all .5s ease-in-out;
//   -moz-transition:all .5s ease-in-out;
//   -o-transition:all .5s ease-in-out;
//   transition:all .5s ease-in-out;
// }
//
// [ui-view].ng-enter {
// opacity: 0;
// -webkit-transform:scale3d(0.5, 0.5, 0.5);
// -moz-transform:scale3d(0.5, 0.5, 0.5);
// transform:scale3d(0.5, 0.5, 0.5);
// }
//
// [ui-view].ng-enter-active {
// opacity: 1;
// -webkit-transform:scale3d(1, 1, 1);
// -moz-transform:scale3d(1, 1, 1);
// transform:scale3d(1, 1, 1);
// }
//
// [ui-view].ng-leave {
// opacity: 1;
// -webkit-transform:translate3d(0, 0, 0);
// -moz-transform:translate3d(0, 0, 0);
// transform:translate3d(0, 0, 0);
// }
//
// [ui-view].ng-leave-active {
// opacity: 0;
// -webkit-transform:translate3d(100px, 0, 0);
// -moz-transform:translate3d(100px, 0, 0);
// transform:translate3d(100px, 0, 0);
// }
