/**
 *  Do not remove this comments bellow. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower
@import "main/main";
@import "check-in/check-in";
@import "encounters/encounters";
@import "report/report";
@import "page-animations";

@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,700|Roboto:400,700,700italic,400italic);

$red-color: #ed4343;
$red-font: 'Roboto', sans-serif;

html, body {
  width:100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: $red-font;
  font-size: 18px;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.red {
  color:$red-color;
}

h1{
  font-size: 2rem;
  font-weight: 100;
  color: white;
}

@keyframes invalid {
  0% {outline: 3px solid transparent;
  }
  100% {outline: 3px solid red;
  }
}

.show-validation {
  transition: 1s linear all;
}

.show-validation {
  input, select, textarea {
    &.ng-invalid {
      animation: invalid 1s infinite;
    }
  }
}

/**
 *  Do not remove this comments bellow. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
