.check-in {
  background:
  linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),
  url('./images/solar_system.jpg') no-repeat center;
  color: white;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;

    h1{
      font-size: 2.5rem;
      font-weight: 100;
      text-align: center;
    }
}

.check-in-form {
  align-items: center;
  display: flex;
  flex: 4 1 0%;
  flex-direction: column;
  justify-content: center;
  padding: 0 2rem;

    .form-input {
      background-color: transparent;
      border: none;
      border-bottom: 1px solid #fff;
      color: lightgrey;
      font-size: 1rem;
      height: 2rem;
      margin-bottom:  1.5rem;
      padding-left: .5rem;
      width: 100%;

      &::placeholder {
        color: #ed4343;
      }
    }

    .select-job {
      background-color: transparent;
      border-bottom: 1px solid #fff;
      display: block;
      height: 2rem;
      outline: none;
      padding: 0;
      width: 100%;

      select {
        background-color: transparent;
        border: none;
        color: #ed4343;
        font-size: 1rem;
        margin-bottom: 1.5rem;
        width: 100%;
     }
    }

    // .button-wrapper {
    //   background-color: transparent;
    //   display: flex;
    //   flex: 1 1 0%;
    //   height: 10rem;
    //   padding: 2rem 4rem;
    //   text-align: center;
    //   width: 100%;
    //
    //   .check-in-button {
    //     background-color: transparent;
    //     border: none;
    //     color: lightgrey;
    //     font-size: 2rem;
    //     font-weight: 100;
    //     width: 100%;
    //
    //       &:hover {
    //         cursor: pointer;
    //     }
    //   }
    // }

 }
