.check-in {
  background: #000;
  color: white;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;

    h1{
      padding: 2rem 1rem;
      font-size: 3rem;
      font-weight: lighter;
      text-align: center;
    }
}

.check-in-form {
  display: flex;
  flex-direction: column;
  padding: 0 2rem;

    .form-input {
      background-color: black;
      border: none;
      border-bottom: 1px solid #fff;
      color: lightgrey;
      font-size: 1rem;
      height: 2rem;
      margin-bottom:  1.5rem;
      padding-left: .5rem;
      width: 100%;
    }

    .select-job {
      background-color: black;
      border-bottom: 1px solid #fff;
      display: block;
      height: 2rem;
      outline: none;
      padding: 0;
      width: 100%;

      select {
        background-color: black;
        border: none;
        color: #ed4343;
        font-size: 1.2rem;
        margin-bottom: 1.5rem;
        width: 100%;
     }
    }

    .check-in-button {
      background-color: black;
      border: none;
      color: lightgrey;
      font-size: 2rem;
      font-weight: 100;
      height: 10rem;
      padding: 2rem 4rem;
      text-align: center;

      &:hover {
        cursor: pointer;
      }
    }

 }
