@keyframes invalid {
  0% {outline: 3px solid transparent;
  }
  100% {outline: 3px solid red;
  }
}

.show-validation {
  transition: 1s linear all;
}
.show-validation {
  input, select, textarea {
    &.ng-invalid {
      animation: invalid 1s infinite;
    }
  }
}

.check-in {
  background: black;
  color: white;
  display: flex;
  flex-direction: column;
  height: 100vh;
  text-align:center;
  width: 100vw;

    h1{
      padding: 2rem 1rem;
    }
}

.check-in-form {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  padding: 0 2rem;
  margin-bottom: 1.5rem;
  width: 80%;

   input & {
    border-bottom: 2px solid white;
    background-color: black;
    border: none;
    color: #ed4343;
    padding-bottom: .25rem;
  }

}

.check-in-button {
  background-color: black;
  border: none;
  color:white;
  font-size: 2rem;
}
